<h3>Reading details</h3>
<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><strong>From</strong></td>
          <td>{{ reading.username }}</td>
        </tr>
        <tr>
          <td><strong>Reading Type</strong></td>
          <td>{{ reading.type }}</td>
        </tr>
        <tr>
          <td><strong>Submitted At</strong></td>
          <td>{{ reading.timestamp }}</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="row pull-right">
  <div class="col-xs-12">
    <div
      class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Reading <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditReading()">Edit Reading</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteReading()">Delete Reading</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
